/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --text-font: 'Quicksand', sans-serif;
  --title-font: 'Lexend', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
}

.App {
  /* Applying a linear gradient background */
  background: linear-gradient(108deg, #0066FF 0%, #0D005C 100%);
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  height: 100vh;
  width: 100%;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Styling form inputs */
.input {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 100%;
  font-size: 1.2em;
  justify-content: space-between;
}

/* Styling input elements, paragraphs, and form subheadings */
.input p,
form h3 {
  margin: 5px 50px;
}

/* Styling text inputs */
input:not(input[type='submit']):not(input[type='radio']) {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 64px;
  border: none;
  outline: none;
  color: rgba(255, 255, 255);
  padding: 16px 24px;
  font-family: var(--text-font);
  font-size: 16px;

  transition: 0.3s;
}

/* Styling placeholder text */
input:not(input[type='submit']):not(input[type='radio'])::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

input:not(input[type='submit']):not(input[type='radio']):focus {
  box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.5);
}

/* Styling submit button */
button,
input[type='submit'] {
  color: black;
  padding: 16px 24px;
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 64px;
  transition: 0.3s;
  font-size: 16px;
  font-family: var(--title-font);
}

button:hover,
input[type='submit']:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/* Formulaire de connection */

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  gap: 24px;
}

#Chat_container {
  position: absolute;
  left: 0;
  bottom: 0;
  /* border: 2px solid white; */
  display: flex;
  /* flex-direction: column; */
  margin: 32px;
  width: auto;
}

.chat-display {
  /* border: 2px solid red; */
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 16px;
  width: max-content;
  max-width: 400px;
}

li {
  margin-left: 16px;
  word-break: break-all;
  margin: 8px;
}

.chat-display .footer {
  display: flex;
  width: 100%;
  gap: 16px;
}

.messages {
  /* border: 2px solid lime; */
  display: flex;
  flex-direction: column;
  width: 115%;
  height: 250px;
  overflow: auto;
}

.chat_container_buttons {
  border: 2px solid red;
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 16px; */
  /* padding: 16px; */
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  margin: 64px;
  height: 48px;
  width: 48px;
  background: rgba(255, 255, 255, 1) url(back.png) center/16px no-repeat;
  border-radius: 50%;
  transition: 0.3s;
}

.back:hover {
  filter: invert(1);
  background-color: rgba(255, 255, 255, 0.5);
}