/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Resetting default margin and padding for all elements and styling elements*/
* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: var(--text-font);
    box-sizing: border-box;
}

/* Setting custom CSS variables */
:root {
    --text-font: 'Quicksand', sans-serif;
    --title-font: 'Lexend', sans-serif;
}

/* Styling the body */
body {
    /* Applying a linear gradient background */
    background: linear-gradient(108deg, #C31432 0%, #240B36 100%);
    /* Centering content vertically and horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space {
    gap: 35px;
}

/* Styling the container */
.container {
    /* border: 2px solid lime; */
    width: 700px;
    flex-direction: column;
}

/* Styling the form */
form {
    /* Centering form elements vertically */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    /* height: 100%; */
}

/* Styling form headings */
h1 {
    font-family: var(--title-font);
    font-size: 3em;
    font-weight: 400;
    color: white;
}

/* Styling form subheadings */
h3 {
    text-align: center;
}

.red {
    color: red;
}

.green {
    color: rgb(129, 255, 129);
}

/* Styling form inputs */
.input {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 100%;
    font-size: 1.2em;
    justify-content: space-between;
}

.input label {
    margin-bottom: 10px;
    display: flex;
    align-items: start;
}

/* Styling input elements, paragraphs, and form subheadings */
/*input, .input p, form h3 {*/
/*    margin: 5px 50px;*/
/*}*/

/* Styling text inputs */
input:not(input[type="submit"]) {
    background: hsla(41, 100%, 0%, 0.4);
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 20px 15px;
    transition: 0.3s;
}

/* Styling placeholder text */
input::placeholder {
    color: white;
    opacity: 30%;
}

/* Styling focus state of text inputs */
input:not(input[type="submit"]):focus {
    box-shadow: 0px 0px 0px 2px;
}

/* Removing default spinner from number inputs */
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}

/* Styling submit button */
input[type=submit], button {
    font-family: var(--title-font);
    color: #240B36;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.5em;
    padding: 20px 20px;
    transition: 0.3s;
}

/* Styling hover state of submit button */
input[type=submit]:hover, button:hover{
    cursor: pointer;
    color: white;
    background-color: hsla(41, 100%, 0%, 0.5);
    box-shadow: 0px 0px 0px 2px;
}

/* Styling focus state of submit button */
input[type=submit]:focus {
    box-shadow: 0px 0px 20px 0px white;
}

/* Styling other login options */
.options {
    font-size: 1.5em;
    height: 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.options a {
    transition: 0.3s;
}

/* Styling hover state of other login options */
.options a:hover {
    color: aqua;
    text-shadow: 0px 0px 5px;
}

/* Styling hover state of links within input elements */
.input a:hover {
    transition: 0.3s;
    color: #240B36;
    text-shadow: 0px 0px 5px;
}

.game-container {
    height: 80vh;
    width: 80vw;
    background-color: rgb(27, 136, 0);
    box-shadow: 0 0 50px rgb(27, 136, 0);
}

.river-part {
    height: 100%;
    width: 80%;
    background-image: url('../data/img/watair.jpg');
    filter: saturate(2);
    filter: contrast(1);
    display: flex;
    flex-direction: column;
}

.side {
    height: 100%;
    width: 10%;
    flex-direction: column;
    background-image: url(../data/img/grass.jpg);
    background-size: contain;
    border: 50px solid rgb(51, 25, 0);
    border-top: none;
    border-bottom: none;
    filter: saturate(2);
    filter: contrast(1);
}

.side:nth-of-type(1) {
    border-left: none;
}

.side:nth-of-type(3) {
    border-right: none;
}

.profil {
    flex-direction: column;
    background-color: white;
    padding: 10px 19px;
    border-radius: 100%;
    transition: 0.3s;
}

.profil-head {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: black;
    transition: 0.3s;
}

.profil-body {
    height: 25px;
    width: 25px;
    border: 2px solid black   ;
    background-color: black;
    border-radius: 100%;
    transition: 0.3s;
}

.profil-container {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin: 50px 50px;
    width: max-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    transition: 0.3s;
}

.profil-container:hover, .edit-button:hover {
    cursor: pointer;
    filter: invert(1);
    box-shadow: 0px 0px 0px 2px black;
}

.profil-container h2 {
    padding-left: 20px;
    color: black;
    font-weight: 700;
}

.profil-page {
    width: 1000px;
}

.stats, .edit-profile {
    width: 200%;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

hr {
    width: 50%;
    margin-bottom: 40px;
    margin-top: 10px;
}

.display-row {
    flex-direction: row;
}

.edit-button {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 10%;
    transition: 0.3s;
    background-image: url(../data/img/edit.png);
    background-size: auto;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}

.edit-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.profil-space {
    gap: 10vw;
}

#graph-container {
    /* min-width: 320px;
    max-width: 1000px; */
    width: 70%;
    margin: 0 auto;
    height: 70%;
}

/* styling trace table */

table {
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #240B36;
}

tr:hover {
    background-color: rgb(36, 36, 124);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    margin: 50px;
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 1);
    background-image: url(../data/img/back.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 0.2s;
}

.back:hover {
    background-color: white;
}