@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --text-font: 'Quicksand', sans-serif;
    --title-font: 'Lexend', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: var(--text-font);
    box-sizing: border-box;
}

body {
    background: linear-gradient(108deg, #C31432 0%, #240B36 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space {
    gap: 35px;
}

/* Styling the container */
.container {
    /* border: 2px solid lime; */
    width: 700px;
    flex-direction: column;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}


h1 {
    font-family: var(--title-font);
    font-size: 3em;
    font-weight: 400;
    color: white;
}

h3 {
    text-align: center;
}

.red {
    color: red;
}

.green {
    color: rgb(129, 255, 129);
}

.input {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 80%;
    font-size: 1.2em;
    justify-content: space-between;
}

.input label {
    margin-bottom: 10px;
    display: flex;
    align-items: start;
}

input::placeholder {
    color: white;
    opacity: 30%;
}

/* Styling focus state of text inputs */
input:not(input[type="submit"]):focus {
    box-shadow: 0px 0px 0px 2px;
}

/* Removing default spinner from number inputs */
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}

/* Styling submit button */
input[type=submit], button {
    font-family: var(--title-font);
    color: #240B36;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.5em;
    padding: 20px 20px;
    transition: 0.3s;
}

/* Styling hover state of submit button */
input[type=submit]:hover, button:hover{
    cursor: pointer;
    color: white;
    background-color: hsla(41, 100%, 0%, 0.5);
    box-shadow: 0px 0px 0px 2px;
}

/* Styling focus state of submit button */
input[type=submit]:focus {
    box-shadow: 0px 0px 20px 0px white;
}

/* Styling other login options */
.options {
    font-size: 1.5em;
    height: 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.options a {
    transition: 0.3s;
}

/* Styling hover state of other login options */
.options a:hover {
    color: aqua;
    text-shadow: 0px 0px 5px;
}

input:not(input[type="submit"]) {
    background: hsla(41, 100%, 0%, 0.4);
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 20px 15px;
    transition: 0.3s;
}

.options a {
    transition: 0.3s;
}

/* Styling hover state of other login options */
.options a:hover {
    color: aqua;
    text-shadow: 0px 0px 5px;
}

/* Styling hover state of links within input elements */
.input a:hover {
    transition: 0.3s;
    color: #240B36;
    text-shadow: 0px 0px 5px;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    margin: 50px;
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 1);
    background-image: url(../data/img/back.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 0.2s;
}

.back:hover {
    background-color: white;
}