table {
    border-collapse: collapse;
    font-size: 24px;
    width: 80%;

    th, td {
        padding: 8px;
        border: 1px solid white;
        text-align: left;
    }

    th {
        background-color: rgba(0, 0, 0, 0.5);
    }

    tr:hover > td {
        background-color: rgba(255, 102, 0, 0.541);
    }
}